@import './production.css';
@import './service.css';
@import './reques.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: .3s all ease;
}

select {
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter";
  position: relative;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media (max-width:768px) {
  .wrapper {
    zoom: 100%;
  }
}

.container {
  max-width: 1440px;
  padding: 0 32px;

}

@media (max-width:992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width:768px) {
  .container {
    max-width: 556px;
    padding: 0 12px;

  }
}

header {
  padding: 10px 0;
  top: 0;
  position: fixed;
  width: 100%;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  z-index: 19999;
  background-color: #fff;
}

header .header {
  display: flex;
  justify-content: space-between;
}

@media (max-width:768px) {
  header .header {
    align-items: center;
  }
}

header .header_left {
  display: flex;
  gap: 0 44px;
}

@media (max-width:992px) {
  header .header_left {
    gap: 0 14px;
  }
}

header .header_left .header_logo {
  display: flex;
  align-items: center;
}

header .header_left .header_menu {
  display: flex;
  gap: 0 24px;
  height: 100%;
}

@media (max-width:992px) {
  header .header_left .header_menu {
    gap: 0 9px;
  }
}

@media (max-width:768px) {

  header .header_left .header_menu {
    position: fixed;
    z-index: 1111;
    top: 52px;
    right: -100%;
    width: 100%;
    background: #fff;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    transition: all .2s linear;
  }

  header .header_left .header_menu.active {
    right: 0;
  }
}

.header .sub_menu {
  display: none;
}

header .header_left .header_menu li {
  display: flex;
  align-items: center;
  height: 100%;
}

@media (max-width:768px) {
  header .header_left .header_menu li {
    display: flex;
    align-items: center;
    height: fit-content;
  }
}

header .header_left .header_menu li a {
  display: flex;
  align-items: center;
  gap: 0 6px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 16.8px */
}

header .header_left .header_menu li a:hover {
  color: #254982;
}

header .header_right {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0 24px;

}

@media (max-width:992px) {
  header .header_right {
    gap: 0 10px;
  }
}

header .header_right.mobile {
  display: none;
}

@media (max-width:768px) {
  header .header_right {
    display: none;
  }

  header .header_right.mobile {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

}

header .header_right select {
  appearance: none;
  background-image: url("../images/lang_icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding: 8px 20px 8px 0;
  border: none;
  outline: none;
  color: #254982;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 16.8px */
  cursor: pointer;
}

.blue_btn {
  display: inline-flex;
  padding: 14px 24px;
  border-radius: 24px;
  background: #254982;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.28px;
  border: 1px solid transparent;
  transition: ease .3s all;
}

.blue_btn:hover {
  border: 1px solid #254982;
  background-color: #fff;
  color: #254982;
}

.mobile_hamburger {
  display: none;
}

@media (max-width:768px) {
  .mobile_hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 24px;
    height: 24px;
    padding: 5px 2px;
    position: relative;
  }

  .mobile_hamburger span {
    width: 100%;
    flex: 0 0 auto;
    height: 3px;
    border-radius: 16px;
    background: #000;
  }

  .mobile_hamburger.active span {
    position: absolute;
    inset: 0;
    margin: auto;
    transition: all .2s linear;
  }

  .mobile_hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
  }

  .mobile_hamburger.active span:nth-child(2) {
    transform: rotate(-45deg);

  }

  .mobile_hamburger.active span:nth-child(3) {
    display: none;

  }

}


.hero {
  margin-bottom: 140px;
}

@media (max-width:992px) {
  .hero {
    margin-bottom: 90px;
  }
}

.hero .hero_content {
  padding: 64px 64px 331px 64px;
  border-radius: 12px;
  background: linear-gradient(247deg, #254982 0%, #02021F 87.79%);
  position: relative;
  z-index: 2;
}

@media (max-width:1330px) {
  .hero .hero_content {
    padding: 64px 64px 211px 64px;
  }
}

@media (max-width:992px) {
  .hero .hero_content {
    padding: 64px 64px 111px 64px;
  }
}

@media (max-width:768px) {
  .hero .hero_content {
    padding: 19px 19px 209px;
  }
}

.hero .hero_content::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  background: url('../images/strelka.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}

@media (max-width:1330px) {
  .hero .hero_content::before {
    width: 65%;
  }
}

@media (max-width:992px) {
  .hero .hero_content::before {
    width: 66%;
  }
}

@media (max-width:768px) {
  .hero .hero_content::before {
    background: url('../images/hero_logo_mobile.svg');
    background-repeat: no-repeat;
    background-position: -41% center;
    width: 100%;
    z-index: -1;
  }
}

.hero .hero_logo {
  margin-bottom: 200px;
}

@media (max-width:992px) {
  .hero .hero_logo {
    margin-bottom: 90px;
  }
}

@media (max-width:768px) {
  .hero .hero_logo {
    margin-bottom: 149px;
  }

  .hero .hero_logo img {
    width: 147px;
  }
}

.hero .hero_title {
  color: #FFF;
  font-family: Inter;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -2.4px;
  margin-bottom: 16px;
}

@media (max-width:992px) {
  .hero .hero_title {
    font-size: 36px;
  }
}

@media (max-width:768px) {
  .hero .hero_title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -1.4px;
  }
}

.hero .hero_title span {
  color: #A2C2EB;
}

.hero p {
  color: #FFF;
  text-align: justify;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
  margin-bottom: 24px;
}

@media (max-width:992px) {
  .hero p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.27px;

  }

  .hero p br {
    display: none;
  }
}

.hero .blue_btn {
  border-radius: 24px;
  border: 1px solid #FFF;
  background: transparent;
}

.hero .blue_btn:hover {
  background-color: #254982;
  color: #fff;
}

.project {
  margin-bottom: 70px;
}

@media (max-width:768px) {
  .project {
    margin-bottom: 60px;
  }
}

.title_top {
  color: #254982;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

@media (max-width:768px) {
  .title_top {
    font-size: 12px;
  }
}

.section_title {
  text-align: center;
  color: #222220;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1.4px;
  margin-bottom: 16px;
}

@media (max-width:992px) {
  .section_title {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
}

@media (max-width:768px) {
  .section_title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
}

.section_title span {
  color: #E8B262;
}

.section_title span.blue {
  color: #254982;
}


.title_bottom {
  color: #222220;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
  margin-bottom: 40px;
}

@media (max-width:768px) {
  .title_bottom {
    color: #222220;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.27px;
    margin-bottom: 2px;
  }
}

main {
  padding-top: 86px;
}

@media (max-width:768px) {
  main {
    padding-top: 78px;
  }
}

.project .project_content {
  /* height: 532px;
  width: 100%;
  background-image: url('../images/project_image.png');
  background-size: contain;
  background-repeat: no-repeat; */
  width: 100%;
}

.project .project_content img,
.project .project_content video {
  width: 100%;
  object-fit: contain;
}

.opportunity {
  padding-top: 70px;
  margin-bottom: 70px;
}

@media (max-width:768px) {
  .opportunity {
    padding-top: 59px;
    margin-bottom: 0px;
  }

  .opportunity .title_bottom {
    padding-bottom: 24px;
  }
}

.opportunity .tab_top {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

@media (max-width:992px) {
  .opportunity .tab_top {
    margin-bottom: 0px;
  }
}

.opportunity .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 8px;
  border: 1px solid #254982;
  padding: 8px 69px 8px 8px;
  flex-wrap: nowrap;
}

@media (max-width:1080px) {
  .opportunity .tab_top {
    position: relative;
  }

  .opportunity .tab_top::before {
    content: '';
    background: linear-gradient(270deg, #FFF -5.3%, rgba(255, 255, 255, 0.00) 75%);
    width: 42px;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 2;
  }

  .opportunity .nav {
    border: 1px solid #254982;
    padding: 8px 8px 8px 8px;
    overflow-x: auto;
    justify-content: flex-start;
    position: relative;
  }

  .opportunity .nav::-webkit-scrollbar {
    display: none;
  }

  .opportunity .nav li {
    flex: 0 0 auto;
  }

}

@media (max-width:768px) {
  .opportunity .nav {
    margin-bottom: 12px;
  }
}

.opportunity .nav a {
  padding: 12px 32px;
  border-radius: 4px;
  color: #254982;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  flex: 0 0 auto;
}

@media (max-width:1080px) {
  .opportunity .nav a {
    padding: 10px 24px;
  }
}

@media (max-width:768px) {
  .opportunity .nav a {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 12px;
  }
}

.opportunity .nav a.active,
.opportunity .nav a:hover {
  background: #254982;
  color: #fff;
}

.opportunity .tab-content {
  padding: 32px 32px 32px 64px;
  border-radius: 12px;
  background: rgba(244, 244, 244, 0.40);
}

@media (max-width:992px) {
  .opportunity .tab-content {
    padding: 32px 32px 32px 34px;
  }
}

@media (max-width:768px) {
  .opportunity .tab-content {
    padding: 16px 16px 32px;
  }
}

.opportunity .tab_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media (max-width:992px) {
  .opportunity .tab_body {
    flex-direction: column;
  }
}

.opportunity .tab_left {
  max-width: 395px;
}

@media (max-width:992px) {
  .opportunity .tab_left {
    max-width: 100%;
  }
}

.opportunity .tab_right {
  max-width: 627px;
  border-radius: 12px;
}

@media (max-width:992px) {
  .opportunity .tab_right {
    max-width: 100%;
  }
}

.opportunity .tab_right img {
  border-radius: 12px;
  width: 100%;
  object-fit: contain;
}

.opportunity .tab-content .tab_title_top {
  color: #254982;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

@media (max-width:768px) {
  .opportunity .tab-content .tab_title_top {
    font-size: 12px;
  }
}

.opportunity .tab-content .tab_title {
  color: #222220;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1.2px;
  margin-bottom: 16px;
}

@media (max-width:768px) {
  .opportunity .tab-content .tab_title {
    font-size: 20px;
  }
}

.opportunity .tab-content p {
  color: #222220;
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
  margin-bottom: 20px;
}

@media (max-width:768px) {
  .opportunity .tab-content p {
    font-size: 14px;
  }
}

.opportunity .tab-content ul {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #222220;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
}

@media (max-width:768px) {
  .opportunity .tab-content ul {
    font-size: 14px;
    gap: 12px;
    margin-bottom: 24px;
  }

  .opportunity .tab-content ul img {
    width: 24px;
    height: 24px;
  }
}

.opportunity .tab-content li {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

.opportunity .tab-content .blue_btn {
  display: inline-flex;
  gap: 0 8px;
  padding: 14px 24px;
}

.opportunity .tab-content .blue_btn:hover svg path {
  stroke: #254982;
}

.about {
  padding-top: 70px;
  margin-bottom: 70px;
}

@media (max-width:768px) {
  .about {
    margin-bottom: 0;
  }
}

.about .about_section {
  display: flex;
  justify-content: space-between;
  gap: 0 64px;
  align-items: center;
}

@media (max-width:992px) {
  .about .about_section {
    flex-direction: column;
  }
}

.about .about_left {
  width: 100%;
  max-width: 698px;
  /* flex: 0 0 auto; */
}

.about .about_left img {
  width: 100%;
  object-fit: cover;
}

.about .about_right {
  padding-right: 152px;
}

@media (max-width:1390px) {
  .about .about_right {
    padding-right: 12px;
  }
}

.about .about_title_top {
  color: #254982;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
  text-align: left;
}

@media (max-width:992px) {
  .about .about_title_top {
    margin-top: 32px;
  }
}

.about .section_title {
  text-align: left;
}

.about p {
  color: #222220;
  text-align: justify;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
  margin-bottom: 40px;
}

@media (max-width:768px) {
  .about p {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.about p span {
  display: inline-block;
  margin-top: 16px;
}

@media (max-width:768px) {
  .about p span {
    margin-top: 12px;
  }
}

.about .partner_countries {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

@media (max-width:768px) {
  .about .partner_countries {
    gap: 4px;
    margin-top: 4px;
  }
}

.about .partner_countries a {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: #254982;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.28px;
  border-radius: 4px;
  border: 1px solid #254982;
}

@media (max-width:768px) {
  .about .partner_countries a {
    font-size: 12px;
    padding: 8px 16px;
  }
}

/* advantages */
.advantages {
  padding-top: 70px;
}

.advantages_subtitle {
  max-width: 579px;
  margin: 0 auto;
  text-align: center;
}

.advantages_items {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width:768px) {
  .advantages_items {
    gap: 19px;
  }
}

.advantages_item {
  border-radius: 12px;
  background: #FAFAFA;
  box-shadow: 0px 5.1px 10.9px 0px rgba(0, 0, 0, 0.00), 0px 0.9px 1.9px 0px rgba(0, 0, 0, 0.00), 0px 0.1px 0.2px 0px rgba(0, 0, 0, 0.00), 0px 0px 0px 0px rgba(0, 0, 0, 0.00);
  width: calc(35% - 8px);
  padding: 32px 13px 0px 12px;
}

@media (max-width:1120px) {
  .advantages_item {
    width: calc(45% - 8px);
  }
}

@media (max-width:992px) {
  .advantages_item {
    width: calc(50% - 8px);
  }
}

@media (max-width:768px) {
  .advantages_item {
    padding: 0;
    width: 100%;
    padding: 0 0 5px 0px;
  }
}


.advantages_item:first-child {
  width: calc(65% - 8px);
}

.advantages_item:last-child {
  width: calc(65% - 8px);
}

@media (max-width:1120px) {
  .advantages_item:first-child {
    width: calc(55% - 8px);
  }

  .advantages_item:last-child {
    width: calc(55% - 8px);
  }
}

@media (max-width:1120px) {
  .advantages_item:first-child {
    width: 100%;
  }

  .advantages_item:last-child {
    width: 100%;
  }
}

.item_top {
  padding: 0 10px 0 20px;
}

.advantages_title {
  padding-top: 16px;
  color: #222220;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.27px;
}

@media (max-width:768px) {
  .advantages_title {
    font-size: 14px;
  }
}

.advantages_description {
  width: 94%;
  margin-top: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
  text-align: justify;
}

@media (max-width:768px) {
  .advantages_description {
    width: 97%;
    margin-top: 8px;
  }
}

.advantages_item img {
  width: 100%;
  object-fit: contain;
  margin-top: 14px;
}

/* team_count */
.team_count {
  padding-top: 140px;
}

.team_count.first {
  padding-top: 0;
}

@media (max-width:768px) {
  .team_count {
    padding-top: 80px;
  }
}

.team_count .section_title {
  text-align: left;
}

@media (max-width:768px) {
  .team_count .section_title {
    margin-bottom: 12px;
  }
}

.team_count .team_subtitle {
  max-width: 596px;
  color: #222220;
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
}

@media (max-width:768px) {
  .team_count .team_subtitle {
    font-size: 14px;
  }
}

.team_count_img {
  margin-top: 40px;
}

@media (max-width:768px) {
  .team_count_img {
    margin-top: 16px;
    border-radius: 12px;
  }
}

.team_count_img img {
  object-fit: contain;
  width: 100%;
}

.team_intro_content {
  margin-top: 24px;
}

@media (max-width:768px) {
  .team_intro_content {
    margin-top: 12px;
  }

  .team_intro_content .section_title {
    margin-bottom: 12px;
    letter-spacing: -1px;
  }

  .team_intro_content .section_title br {
    display: none;
  }
}

.team_intro .team_intro_content {
  border-radius: 12px;
  background: linear-gradient(90deg, #152261 6%, #AE1B1E 68%, #FC9F32 100%);
  padding: 84px 64px;
  max-width: 1376px;
}

@media (max-width:768px) {
  .team_intro .team_intro_content {
    padding: 119px 16px;
  }
}

.team_intro .section_title {
  text-align: left;
  color: #fff;
}

.team_intro .team_description {
  color: #FFF;
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  max-width: 534px;
  line-height: 140%;
}

@media (max-width:768px) {
  .team_intro .team_description {
    font-size: 14px;
  }
}

.team_intro .button {
  border-radius: 24px;
  background: #FFF;
  padding: 14px 24px;
  margin-top: 24px;
  display: inline-block;
  color: #254982;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  transition: all .2s linear;
}

.team_intro .button:hover {
  color: #fff;
  background: linear-gradient(90deg, #152261 6%, #AE1B1E 68%, #FC9F32 100%);
}

.news {
  padding-top: 140px;

}

@media (max-width:1200px) {
  .news {
    padding-top: 100px;

  }
}

@media (max-width:768px) {
  .news {
    padding-top: 80px;

  }
}

.news .section_title {
  text-align: left;
}

.news .news_description {
  padding-top: 16px;
  line-height: 140%;
  max-width: 615px;
}

@media (max-width:768px) {
  .news .news_description {
    font-size: 14px;
  }
}

.news .button {
  border-radius: 24px;
  background: #254982;
  padding: 14px 24px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  justify-content: center;
  margin-top: 24px;
  transition: all .2s linear;
}

.news .button:hover {
  background: linear-gradient(247deg, #254982 0%, #020126 87.79%), url(<path-to-image>) lightgray 50% / cover no-repeat;

}

@media (max-width:768px) {
  .news .button {
    font-size: 12px;
  }
}

.news .news_cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
}

@media (max-width:992px) {
  .news .news_cards {
    margin-top: 20px;
  }
}

@media (max-width:768px) {
  .news .news_cards {
    margin-top: 8px;
  }
}

.news .news_item {
  padding: 16px;
  border-radius: 12px;
  background: #FAFAFA;
  width: calc(33.33% - 8px);
}

@media (max-width:992px) {
  .news .news_item {
    width: calc(50% - 8px);
  }
}

@media (max-width:992px) {
  .news .news_item {
    width: 100%;
  }
}

.news .news_item img {
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.news .card_btn {
  gap: 12px;
  display: flex;
  align-items: center;
  margin-top: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #101114;

}

@media (max-width:768px) {
  .news .card_btn {
    font-size: 12px;
  }
}

.news .card_btn a {
  border-radius: 3.81px;
  background: #254982;
  padding: 12px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

@media (max-width:768px) {
  .news .card_btn a {
    padding: 8px 12px;
    font-size: 12px;
  }
}

.news .card_btn a.orange {
  background: #E8B262;
}

.card_title {
  margin-top: 16px;
  color: #222220;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.27px;
}

@media (max-width:768px) {
  .card_title {
    font-size: 14px;
  }
}

.card_description {
  color: #222220;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 8px;
  max-width: 377px;
}

.about_products {
  margin-top: 140px;

}

@media (max-width:992px) {
  .about_products {
    margin-top: 100px;
  }
}

@media (max-width:768px) {
  .about_products {
    margin-top: 80px;
  }
}

.product_about_content {
  border-radius: 8px;
  background: linear-gradient(247deg, #254982 0%, #020126 87.79%), url(<path-to-image>) lightgray 50% / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 157px;
  padding-bottom: 147px;
}

@media (max-width:768px) {
  .product_about_content {
    padding: 127px 36px;
  }
}

.about_products .top_btn {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.00);
  box-shadow: 0px 0px 0px 1.1px rgba(255, 255, 255, 0.15) inset;
  padding: 12px;
}

@media (max-width:768px) {
  .about_products .top_btn {
    padding: 8px 12px;
    font-size: 10px;
  }
}

.about_products .product_about_title {
  color: #FFF;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -2.4px;
  margin-top: 12px;
}

@media (max-width:768px) {
  .about_products .product_about_title {
    font-size: 24px;
  }
}

.about_products .about_products_description {
  max-width: 486px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
  margin-top: 16px;
}

@media (max-width:768px) {
  .about_products .about_products_description {
    font-size: 14px;
    margin-top: 12px;
  }
}

.about_products .button {
  border-radius: 24px;
  background: #FFF;
  padding: 14px 24px;
  display: inline-block;
  margin-top: 24px;
  transition: all .2s linear;
  border: 1px solid transparent;
}

.about_products .button:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.footer {
  margin-top: 141px;
  padding-top: 64px;
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  background: #FAFAFA;
}

@media (max-width:768px) {
  .footer {
    margin-top: 80px;
  }
}

.footer .footer_bottom {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  color: rgba(34, 34, 32, 0.60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
}

@media (max-width:768px) {
  .footer .footer_bottom {
    font-size: 12px;
    flex-direction: column;
    padding: 0;
    border: 0;
    margin-top: 42px;
  }

  .footer .footer_bottom span {
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  }
}

.footer .big_img {
  margin-top: 40px;
  object-fit: contain;
  width: 100%;
}

.footer .footer_menu {
  display: flex;
  justify-content: space-between;
}

@media (max-width:992px) {
  .footer .footer_menu {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.footer .footer_lef {
  width: 296px;
}

@media (max-width:992px) {
  .footer .footer_lef {
    width: 100%;
  }
}

.footer .footer_lef .footer_title {
  color: rgba(34, 34, 32, 0.60);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.27px;
}

.footer .footer_lef p {
  color: rgba(34, 34, 32, 0.60);
  text-align: justify;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
  margin-top: 8px;
}

.footer .social_links {
  display: flex;
  margin-top: 24px;
  align-items: center;
  gap: 15px;
}

.footer .social_links a img {
  transform: scale(1);
  transition: all .2s linear;
}

.footer .social_links a:hover img {
  transform: scale(1.4);
}

.footer .footer_menulists {
  display: flex;
  gap: 28px;
  width: 65%;
  justify-content: space-between;

}

@media (max-width:768px) {

  .footer_menulists:nth-child(4) {
    order: 2;
  }
}

@media (max-width:1024px) {
  .footer .footer_menulists {
    gap: 10px;
    width: 68%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width:992px) {
  .footer .footer_menulists {
    gap: 10px;
    width: 100%;
  }
}

@media (max-width:768px) {
  .footer .footer_menulists {
    gap: 10px 0;
  }
}

.footer a {
  color: rgba(34, 34, 32, 0.60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
  transition: all .2s linear;
}

.footer a:hover {
  color: #000;
}

.footer .footer_menulists .footer_menu_title {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.27px;
  margin-bottom: 16px;
}

.footer .footer_menulists ul {
  display: flex;
  flex-direction: column;
  gap: 8px;

}

@media (max-width:768px) {
  .footer .footer_menulists ul {
    width: 50%;
  }

  .footer .footer_menulists ul:last-child {
    order: -1;

  }

  .footer .footer_menulists ul:nth-child(2) {
    width: 100%;

  }

  .footer .footer_menulists ul:nth-child(3) {
    width: 100%;

  }
}
.contact .hero .hero_content{
  padding: 366px 64px; 
}
@media (max-width:1110px) {
  .contact .hero .hero_content{
    padding: 106px 64px; 
  }
  
}
@media (max-width:768px) {
  .contact .hero .hero_content{
    padding:240px 16px;
    background: linear-gradient(247deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(64, 62, 81, 0.31) 0.3%, rgba(64, 62, 81, 0.29) 96%, rgba(64, 62, 81, 0.10) 100%), linear-gradient(247deg, #0063FF 0%, #02021F 87.79%);
  }
  .contact .hero p{
    text-align: left;
    font-size: 14px;
  }
}
.contact_form {
  margin-top: 140px;
}
@media (max-width:768px) {
  .contact_form {
    margin-top: 80px;
  }
}
.contact_form .form_info{
  width: calc(40% - 25px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    
}
@media (max-width:1200px) {
  .contact_form .form_info{
    width: calc(40% - 15px);
  }
}
@media (max-width:768px) {
  .contact_form .form_info{
    width:100%;
  }
}
.contact_form .form{
  width: calc(60% - 75px);
}
@media (max-width:768px) {
  .contact_form .form{
    width:100%;
  }
}
.form .form_title{
  color: #254982;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%;
padding-bottom: 8px;
}
.contact_form .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px 0;
}
@media (max-width:768px) {
  .contact_form .form {
    gap:16px 0;
  } 
}
.contact_form .form label{
width: calc(50% - 8px);
}
@media (max-width:992px) {
  .contact_form .form label{
    width:100%;
    }
}
.contact_form .form label:nth-child(5) {
  width: 100%;
}
.contact_form .form label:nth-child(5) textarea{
min-height: 200px;
}
@media (max-width:768px) {
  .contact_form .form label:nth-child(5) textarea{
    min-height: 150px;
    }
}
.contact_form .form label:nth-child(4){
  position: relative;
}
.contact_form .form label:nth-child(6){
width: 100%;
display: flex;
align-items:center;
color: #222220;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
justify-content: flex-start;
gap: 8px;
cursor: pointer;
}
@media(max-width:556px ){
  .contact_form .form label:nth-child(6){
    display: block;
  }
.policy{
  margin-left: 8px;
}
}
.contact_form .form label:nth-child(6) input{
width: fit-content;
transform: scale(1.6);
}

.contact_form .form button[type=submit]{
width: 100%;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
margin-top: 16px;
}

.contact_form .form label:nth-child(6) a{
  color: #254982;
  text-decoration: underline;
}
.contact_form .form input:not([type=radio]), .contact_form .form textarea{
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background: #FAFAFA;
  color: rgb(34, 34, 32);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
  letter-spacing: -0.28px;
  border: 0;
  outline: none;
}
@media (max-width:768px) {
  .contact_form .form input:not([type=checkbox]), .contact_form .form textarea{
    padding: 12px;
    border-radius: 8px;
    color: rgb(34, 34, 32);
    font-size: 12px;
  }
}
.contact_form .section_title {
  text-align: left;
}

.contact_form .form_content {
  display: flex;
  justify-content: space-between;
}
@media (max-width:768px) {
  .contact_form .form_content {
    flex-direction: column;
    gap: 30px;
  }
}
.contact_form .form_item {

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
}
@media (max-width:768px) {
  .contact_form .form_item {
    display: none;
  }
}
.contact_form .form_item.mobile {
  display: none;
}
@media (max-width:768px) {
  .contact_form .form_item.mobile {
    display: block;
    margin-top: 80px;
    font-size: 14px;
font-style: normal;
font-weight: 400;
  }
}

.contact_form .form_item ul {
  display: flex;
  margin-top: 16px;
  gap: 8px;
  flex-direction: column;
}

.contact_form .form_item a {
  color: #222220;
  transition: all .2s linear;
}

.contact_form .form_item a:hover {
  color: #254982;
}

.title_form {
  color: #254982;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.27px;
}
@media (max-width:768px) {
  .title_form{
    font-size: 14px;
font-style: normal;
font-weight: 500;
  }
}

.contact_form .forms {
  padding: 64px;
  border-radius: 12px;
  border: 1px dashed rgba(0, 0, 0, 0.20);
  background: #FFF;
}
@media (max-width:1200px) {
  .contact_form .forms {
    padding: 20px;
  }
}
@media (max-width:1200px) {
  .contact_form .forms {
    padding: 16px;
  }
}

.contact_form .custom-phone-input input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  background-color:transparent;
  display: block;
}

.category .hero .hero_content {
  padding: 119px 64px;
  background: linear-gradient(247deg, #3681AE 0%, #020126 87.79%);
}

.subcategory .hero .hero_content {
  padding: 106px 64px;
  background: linear-gradient(247deg, #A4C6FF 0%, #020126 87.79%);
}

@media (max-width:768px) {
  .category .hero .hero_content {
    padding: 114px 16px;
  }
}

.category .hero .hero_content .title_top {
  text-align: left;
  color: #88A4CA;
}

.category .hero .hero_content::before {
  display: none;
}

@media (max-width:768px) {
  .category .hero_content p {
    text-align: left;
  }

}

.category .slide_content {
  display: flex;
  flex-wrap: wrap;
  gap: 37px 6px;
}

@media (max-width:768px) {
  .category .slide_content {
    flex-wrap: nowrap;
    gap: 0;
  }
}

.category .slide_content .slide_item {
  width: calc(33.33% - 4px);
}

@media (max-width:1220px) {
  .category .slide_content .slide_item {
    width: calc(50% - 4px);
  }
}

.category .slide_content .slide_item img {
  width: 100%;
  object-fit: contain;
}

@media (max-width:992px) {
  .category .slide_content .slide_item .slide_item_title {
    font-size: 18px;
  }

  .category .slide_content .slide_item .slide_subtitle {
    font-size: 14px;
  }
}

@media (max-width:390px) {
  .category .slide_content .slide_item .slide_item_title {
    font-size: 15px;
  }

  .category .slide_content .slide_item .slide_subtitle {
    font-size: 10px;
  }
}

.products .hero .hero_content {
  padding: 152px 64px;
  background: linear-gradient(247deg, #09804E 0%, #020126 87.79%);
}

@media (max-width:768px) {
  .products .hero .hero_content {
    padding: 152px 16px;
  }
}

.products .hero .hero_content::before {
  display: none;
}

.products .hero .hero_content .title_top {
  text-align: left;
  color: #88A4CA;
}

@media (max-width:768px) {
  .products .hero .title_top {
    font-size: 10px;
  }
}

.gallery {
  margin-top: 140px;
}

.gallery .section_title {
  text-align: left;
}

@media (max-width:768px) {
  .gallery .gallery_description {
    color: #222220;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.27px;
  }

  .gallery .gallery_description br {
    display: none;
  }
}

.gallery .gallery_items {
  margin-top: 40px;
}

@media (max-width:992px) {
  .gallery .gallery_items {
    margin-top: 30px;
  }
}

@media (max-width:768px) {
  .gallery .gallery_items {
    margin-top: 24px;
  }
}

.gallery .gallery_item {
  position: relative;
  width: 100%;
}

.gallery .galler_item>img {
  width: 100%;
  object-fit: contain;
}

.gallery .gallery_icon {
  position: absolute;
  top: 12px;
  right: 12px;
}

@media (max-width:992px) {
  .gallery {
    margin-top: 100px;
  }
}

@media (max-width:768px) {
  .gallery {
    margin-top: 80px;
  }

  .gallery .gallery_icon img {
    width: 12px;
    height: 12px;
  }
}
.custom-phone-input {
  position: relative;
}
.country-list{
  background: #fff;
  list-style: none;
  padding: 5px;
  border: 1px solid #fafafa;
}
.custom-phone-input {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background: #FAFAFA;
  color: rgba(34, 34, 32, 0.60);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
  letter-spacing: -0.28px;
  border: 0;
  outline: none;
}
.contact_form .custom-phone-input input[type=tel] {
padding: 0; 
border: 0;
outline: none;
background: transparent;

}

#country-btn {
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: rgba(34, 34, 32, 0.60);
}

#country-list {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 5px;
  width: fit-content;
  top: 83px;
  left: 0;
  z-index: 2;
  border-radius: 8px;
}

#country-list li {
  padding: 10px 6px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#country-list li:hover {
  background: #eee;
}

.form_description{
  color: #222220;
text-align: justify;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
letter-spacing: -0.27px;
}
@media (max-width:768px) {
  .form_description{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
  }
  .form_description br{
    display: none;
  }
}
.accardion{
  margin-top: 140px;
}
.accardion .section_title{
text-align: left;
}

.accardion .container{
display: flex;
justify-content: space-between;
}
.accardion .accardion_info{
  width: calc(49% - 16px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width:768px) {
  .accardion .accardion_info{
    width:100%;
    gap: 24px;
  }
}
.accardion .accardion_item{
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  position: relative;

}

.accardion .accardion_item .accardion_header{
  color: #222220;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media (max-width:992px) {
  .accardion .accardion_item .accardion_header{
    font-size: 18px;
  }
}
.accardion .accardion_item .accardion_header span:last-child{
  color: #254982;
}

.accardion .accardion_item .accardion_description{
  margin-top: 16px;
  width: 100%;
  color: rgba(34, 34, 32, 0.95);
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.27px;
  height: 0;
  overflow: hidden;
  margin-top: 0;
  transition: all .2s linear;
}
.accardion .accardion_item .accardion_description::after{
  content: '';
  width: 0;
  height: 1px;
  background: #254982;
  position: absolute;
  bottom: -1px ;
  left: 0;
  transition: all 7s linear;
}
@media (max-width:768px) {
  .accardion .accardion_item .accardion_description{
    font-size: 14px;
  }
}
.accardion .accardion_item.active .accardion_description::after{
  width: 100%;
  height: 1px;
  background: #254982;
  position: absolute;
  bottom: -1px ;
  left: 0;
}
.accardion .accardion_item.active .accardion_description{
  margin-top: 16px;
  height:max-content;
  overflow-y:auto;
}
.accardion .accardion_img{
  width: calc(51% - 16px);
}
@media (max-width:992px) {
  .accardion .accardion_img img{
    object-fit: contain;
    height:fit-content;
  }
}
@media (max-width:768px) {
  .accardion .accardion_img{
    display: none;
  }
}
.accardion .accardion_img.mobile{
  display: none;
}
@media (max-width:768px) {
  .accardion .accardion_img.mobile{
    display: block;
    width: 100%;
  }
}
.accardion .accardion_img img{
width: 100%;
height: 100%;
object-fit: cover;
}